<%= flash[:alert] %>

<%= form_with(model: @task, local: true) do |f| %>
    <% if @task.errors.any? %>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  <div class="field">
    <%= f.label :title, "タスク名" %>
    <%= f.text_field :title %>
    <%= f.label :content, "詳細" %>
    <%= f.text_field :content %>
    <%= f.label :expired_at, "終了期限" %>
    <%= f.datetime_field :expired_at %>
    <%= f.label :status, "ステータス" %>
    <%= f.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %>
  </div>
    <%= f.submit button_text %>
<% end %>
