<h1>Tasks#index</h1>
<h2><%= link_to "新しくタスクを作成", new_task_path %></h2>

<%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <%= form.text_field :search %>
  <%= form.submit 'Search', name: nil %>
<% end %>

<%= notice %>

<table>
  <thead>
    <tr>
      <th>タスク名</th>
      <th>詳細</th>
      <th><%= sort_order "expired_at", "終了期限" %></th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr id="task_row">
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td>
        <% if task.expired_at == nil %>
          <p>期限なし</p>
        <% else %>
          <%= task.expired_at %>
        <% end %>
      </td>
      <td><%= task.status %></td>
      <td><%= link_to "詳細", task_path(task.id) %></td>
      <td><%= link_to "編集", edit_task_path(task.id) %></td>
      <td><%= link_to "削除", task_path(task.id), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
