<h1>Tasks#new</h1>
<p>Find me in app/views/tasks/new.html.erb</p>

<%= form_with(model: @task, local: true) do |f| %>
<div class="field">
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>
  <%= f.label :content, "詳細" %>
  <%= f.text_field :content %>
</div>
<%= f.submit "タスクを新規作成" %>
<% end %>