<h4>詳細</h4>

<div>
  <%= t('activerecord.attributes.user.name') %>：
  <p>
    <%= User.find(@task.user_id).name %>
  </p>
</div>

<div>
  <%= t('activerecord.attributes.task.title') %>：
  <p class="tasks-show__task-title" id="tasks-show__task-title">
    <%= @task.title %>
  </p>
</div>

<div>
  <%= t('activerecord.attributes.task.content') %>：
  <p class="tasks-show__task-content" id="tasks-show__task-content">
    <%= @task.content %>
  </p>
</div>

<div>
  <%= t('activerecord.attributes.task.expired_at') %>：
  <p>
    <%= @task.expired_at %>
  </p>
</div>

<div>
  <%= t('activerecord.attributes.task.status') %>：
  <p>
    <%= @task.status %>
  </p>
</div>

<div>
  <%= t('activerecord.attributes.task.priority') %>：
  <p>
    <%= @task.priority %>
  </p>
</div>

<div>
  <%= t('activerecord.attributes.task.label') %>：
  <p>
    <% @task.labels.each do |label| %>
      <%= label.name %>
    <% end %>
  </p>
</div>

<%= link_to "編集", edit_task_path(@task.id), class: "btn btn-outline-success"%>
<%= link_to "削除", task_path(@task.id), method: :delete, class: "btn btn-outline-danger" %>
<%= link_to "一覧へ戻る", tasks_path, class: "btn btn-outline-primary" %>
