<h1>Tasks#show</h1>

<p>
  <%= t('activerecord.attributes.task.title') %>：
  <p class="tasks-show__task-title" id="tasks-show__task-title">
    <%= @task.title %>
  </p>
</p>

<p>
  <%= t('activerecord.attributes.task.content') %>：
  <p class="tasks-show__task-content" id="tasks-show__task-content">
    <%= @task.content %>
  </p>
</p>

<%= link_to "編集", edit_task_path(@task.id) %>
<%= link_to "削除", task_path(@task.id), method: :delete %>
<%= link_to "一覧へ戻る", tasks_path %>
