<h4>ユーザー作成(管理者権限)</h4>
<%= form_with(model: [:admin, @user], local: true) do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  <div class="field">
    <p><%= f.label :name %>
    <%= f.text_field :name %></p>
    <p><%= f.label :email %>
    <%= f.email_field :email %></p>
    <p><%= f.label :password %>
    <%= f.password_field :password %></p>
    <p><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %></p>
    <p><%= f.label :admin %>
    <%= f.check_box :admin %></p>
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  </div>
<% end %>
<br>

<%= link_to "戻る", :back, class: "btn btn-outline-primary" %>
