<!DOCTYPE html>
<html>
  <head>
    <title>ManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <h1 class="navbar-brand">Task_Management</h1>
      <%= link_to "新しくタスクを作成", new_task_path, class: 'btn btn-outline-secondary btn-sm' %>
      <%= link_to "タスク一覧", tasks_path, class: 'btn btn-outline-secondary btn-sm' %>
    </header>
    <div class="container pb-5">
    <%= yield %>
    </div>
    <footer class="footer fixed-bottom ">
      <div class="container">
        <p class="text-center">Copyright © 2021 WEF2101 Kajiyama Yuuki.</span>
      </div>
    </footer>
  </body>
</html>
